.InfoPanel__content___3QifC{padding:0 2rem}.InfoPanel__label___279LE{padding-top:1rem;width:100%}.InfoPanel__description___eqC-g{padding-top:1rem;font-size:.875rem;font-weight:400;line-height:1.25rem;letter-spacing:.16px}

.InfoPanel-light__content___21u9r{padding:0 2rem}.InfoPanel-light__label___3wqzD{padding-top:1rem;width:100%}.InfoPanel-light__description___2PQaM{padding-top:1rem;font-size:.875rem;font-weight:400;line-height:1.25rem;letter-spacing:.16px}

.ViewNotebookPage__notebookContainer___3Nnwp{overflow:auto;height:100%}

.ViewNotebookPage-light__notebookContainer___1qoBd{overflow:auto;height:100%}

